---
const { title, slug, url, cover, ctype, description, content } = Astro.props;

const target = content && content.length > 32 ? '_self' : '_blank';
const href = content && content.length > 32 ? slug : url;
const coverStyle = (ctype == 'icon' && 'object-contain h-2/3') || 'object-cover';

console.log('cover', cover, ctype, coverStyle);
---

<div
  class="flex flex-col justify-center border-primary/80 border-2 rounded-xl overflow-hidden hover:bg-primary/60"
>
  <a target={target} href={href} class="w-full flex grow items-center justify-center bg-black/80">
    {
      (cover && <img src={cover} alt={title} class={'aspect-video grow ' + coverStyle} />) || (
        <div class="w-full aspect-video flex items-center justify-center">
          <span class="text-3xl text-center font-bold text-white">{title}</span>
        </div>
      )
    }
  </a>
  <div class="p-2 flex flex-row w-full justify-between items-center border-t-1 border-primary/80">
    <div class="flex flex-col flex-grow overflow-hidden">
      <h1 class="text-2xl font-bold truncate">{title}</h1>
      <p class="w-full text-md line-clamp-2">{description}</p>
    </div>
  </div>
</div>
