---
const { title, slug, url, image, description, content } = Astro.props;
---

<div
  class="flex flex-col justify-center border-primary/80 border-2 rounded-xl overflow-hidden hover:bg-primary"
>
  <img src={image} alt={title} class="w-full grow h-auto object-cover self-start" />
  <div class="flex flex-grow">
    {
      content && content.length > 32 && (
        <a href={slug} class="flex-grow btn btn-info btn-xs rounded-none">
          Docs
        </a>
      )
    }
    <a target="_blank" href={url} class="flex-grow btn btn-primary btn-xs rounded-none">Project</a>
  </div>
  <div class="p-2 flex flex-row w-full justify-between items-center">
    <div class="flex flex-col flex-grow overflow-hidden">
      <h1 class="text-2xl font-bold truncate">{title}</h1>
      <p class="w-full text-md line-clamp-2">{description}</p>
    </div>
  </div>
</div>
