---
import Pages from '../layouts/Pages.astro';
import { Icon } from 'astro-icon/components';
import Contact from '../components/contact.astro';
const workYears = new Date().getFullYear() - 2013;
const techItemStyle = 'px-1 text-primary font-semibold';
const techTypeStyle = 'font-bold mr-4 hover:text-primary';
const techLineStyle = 'flex flex-row mb-1';
const h2Style = 'text-xl font-bold mt-4 mb-1 pb-1 border-b-4 border-primary';
import Profile from '../components/profilepic.astro';
const base = import.meta.env.PUBLIC_BASE_URL;
---

<Pages>
  <div class="flex flex-col items-center">
    <div>
      <div class="w-32 h-32" style="view-transition-name:profile;">
        <a href={base}>
          <Profile />
        </a>
      </div>
    </div>
    <div class="text-2xl font-bold text-primary">TecNico</div>
    <div class="text-sm font-semibold text-current/40">
      A Random Full-Stack Electronics Engineer
    </div>
  </div>
  <h2 class={h2Style}>Experience</h2>
  <div class="flex flex-row items-center justify-evenly">
    <div class="flex-2">
      <p>
        <span class={techItemStyle}>{workYears}</span> years of experience as an Electronics Engineer,
        specializing in system design and development centered around microcontrollers. Extensive mass
        production experience with various consumer electronics including smart bands/watches (including
        mechanical parts types), e-cigarettes, etc. Also involved in the development and deployment of
        projects across industries such as IoT, industrial control, medical, and military.
      </p>
    </div>
    <div class="flex-3 mx-auto">
      <ul class="timeline timeline-vertical">
        <li>
          <div class="timeline-start timeline-box">
            <div class="w-title">MCU Software Engineer</div><div class="w-company">
              @MOS-SOFT Technology
            </div>
          </div>
          <div class="timeline-middle">
            <Icon name="mingcute:round-fill" size="12px" class="text-primary" />
          </div>
          <div class="timeline-end"><div class="w-time">2013-2015</div></div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-start timeline-box">
            <div class="w-title">Technical Director</div><div class="w-company">
              @Shenzhen SmartMovt Technology
            </div>
          </div>
          <div class="timeline-middle">
            <Icon name="mingcute:round-fill" size="12px" class="text-primary" />
          </div>
          <div class="timeline-end"><div class="w-time">2015-2016</div></div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-start timeline-box">
            <div class="w-title">Technical Lead</div><div class="w-company">
              @Corumi (Shenzhen) Technology
            </div>
          </div>
          <div class="timeline-middle">
            <Icon name="mingcute:round-fill" size="12px" class="text-primary" />
          </div>
          <div class="timeline-end"><div class="w-time">2018-2022</div></div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-start timeline-box">
            <div class="w-title">Technical Lead</div><div class="w-company">
              @Shenzhen Volwave Technology
            </div>
          </div>
          <div class="timeline-middle">
            <Icon name="mingcute:round-fill" size="12px" class="text-primary" />
          </div>
          <div class="timeline-end"><div class="w-time">2022-2024</div></div>
        </li>
      </ul>
    </div>
  </div>
  <h2 class={h2Style}>Skills</h2>
  <div class="skill">
    <div class={techLineStyle}>
      <span class={techTypeStyle}>Layout</span>
      <span class="text-current/80">
        Use <span class={techItemStyle}>KiCad</span> and <span class={techItemStyle}
          >Altium Designer</span
        > for schematic design and PCB layout.
      </span>
    </div>
    <div class={techLineStyle}>
      <span class={techTypeStyle}>Firmware</span>
      <span class="text-current/80"
        >Use <span class={techItemStyle}>C</span> for embedded firmware programming.</span
      >
    </div>
    <div class={techLineStyle}>
      <span class={techTypeStyle}>3D Modeling</span>
      <span class="text-current/80"
        >Use <span class={techItemStyle}>Blender</span> for 3D model design suitable for FDM manufacturing.</span
      >
    </div>
    <div class={techLineStyle}>
      <span class={techTypeStyle}>Win Apps</span>
      <span class="text-current/80"
        >Use <span class={techItemStyle}>AHK</span> + <span class={techItemStyle}>Vite</span> to develop
        various Windows applications and tools.</span
      >
    </div>
    <div class={techLineStyle}>
      <span class={techTypeStyle}>Cross-Platform Apps</span>
      <span class="text-current/80">
        Use <span class={techItemStyle}>Golang</span> + <span class={techItemStyle}>Svelte</span> + <span
          class={techItemStyle}>Wails</span
        > to develop cross-platform desktop applications.
      </span>
    </div>
    <div class={techLineStyle}>
      <span class={techTypeStyle}>PWA Apps</span>
      <span class="text-current/80"
        >Use <span class={techItemStyle}>Svelte</span> to develop PWA applications for mobile devices.</span
      >
    </div>
    <div class={techLineStyle}>
      <span class={techTypeStyle}>Frontend</span>
      <span class="text-current/80">
        Primarily use <span class={techItemStyle}>Svelte</span> and <span class={techItemStyle}
          >Astro</span
        > for frontend development.
      </span>
    </div>
    <div class={techLineStyle}>
      <div class={techTypeStyle}>Backend</div>
      <span class="text-current/80">
        Extensively use <span class={techItemStyle}>Golang</span> for backend services.
      </span>
    </div>
    <div class={techLineStyle}>
      <div class="whitespace-nowrap font-bold mr-4">Music</div>
      <span class="text-current/80">
        Possess basic music theory knowledge and the ability to play some instruments;<br />Familiar
        with mixing workflows, with practical mixing experience;<br />Experience in independently
        designing and manufacturing <span class={techItemStyle}>Irish whistles</span><br
        />Particularly advantageous in music-related projects.
      </span>
    </div>
  </div>
  <div class="social">
    <h2 class={h2Style}>Social Links</h2>
    <Contact icon_size="48px" name_size="text-sm" value_size="text-lg" />
  </div>
</Pages>
<div class="h-32"></div>

<style>
  @import '../styles/global.css';
  .w-title {
    @apply font-bold text-md text-right text-primary;
  }
  .w-company {
    @apply text-right text-base-content/40;
  }
  .w-time {
    @apply text-sm text-base-content/40;
  }
</style>
