---
const { title, date, slug, links, icon, image, description, content } = Astro.props;

import { Icon } from 'astro-icon/components';
import Logo from '../components/project_icon.astro';

const linkIconStyle = ' flex justify-center items-center w-full pt-2 pb-2 rounded-t-xl';
const linkIconValidStyle = 'text-current hover:text-primary hover:bg-primary/20' + linkIconStyle;
const linkIconInvalidStyle = 'text-current/20' + linkIconStyle;

const linkMap = {
  github: {
    icon: 'mingcute:github-2-fill',
    href: (links && links.github) || '',
  },
  bilibili: {
    icon: 'mingcute:bilibili-fill',
    href: (links && links.bilibili) || '',
  },
  youtube: {
    icon: 'mingcute:youtube-fill',
    href: (links && links.youtube) || '',
  },
  doc: {
    icon: 'mingcute:document-fill',
    href: content && content.length > 32 ? slug : '',
  },
};

console.log(title, 'links', links);
---

<div class="flex flex-row w-full overflow-hidden p-4 pb-0">
  <div class="basis-[48px] mr-2 self-start">
    <Logo title={title} icon={icon} />
  </div>
  <div class="flex flex-col w-full overflow-hidden">
    <div>
      <span class="flex-0 shrink text-xl font-bold truncate">{title}</span>
      <span class="text-sm pl-2">·</span>
      <span class="text-sm text-white/40">
        {date.toISOString().slice(0, 10)}
      </span>
    </div>

    <p class="w-full text-md line-clamp-4">{description}</p>

    <div class="flex flex-row gap-2 flex-wrap mt-3">
      {image && image.map((img: string) => <img src={img} alt={title} class="rounded-2xl" />)}
    </div>
    <div class="grid grid-cols-4 mt-6 gap-2 place-items-center">
      {
        Object.entries(linkMap).map(([_, value]) =>
          value.href ? (
            <a href={value.href} target="_blank" class={linkIconValidStyle}>
              <Icon name={value.icon} size="24px" />
            </a>
          ) : (
            <a disabled class={linkIconInvalidStyle}>
              <Icon name={value.icon} size="24px" />
            </a>
          )
        )
      }
    </div>
  </div>
</div>
